header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sec-bg);
  width: 100%;
  padding: 2rem 1rem;
  z-index: 1000;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}

.nav-link {
  color: var(--main-accent);
  text-decoration: none;
  cursor: pointer;
  transition: border-bottom 0.3s ease, font-weight 0.3s ease;
}

.nav-link.active {
  border-bottom: 2px solid rgba(231, 76, 60, 1);
  font-weight: bold;
}

a h1 {
  color: white;
  text-decoration: none;
}

.logoLink {
  text-decoration: none;
}
